# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
.env/
*.venv
env/
*.env

# macOS
.DS_Store

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# IDE-specific files
.vscode/
.idea/

# Other exclusions
*.bak
*.swp
*.tmp
*.sqlite3
